#gridContainer {
  
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  border:3px solid black;
  padding: 10px;
  background-color: grey;
  border-radius:10px;
}

#timerContainer {
  
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  border:2px solid black;
  margin:10px;
  padding:10px;
  background-color: lightgrey;
  border-radius:10px;
}

main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content3x3 {
  display: grid;
  grid-template-columns: repeat(3, 100px); /* Définit 3 colonnes de 100px chacune */
  grid-template-rows: repeat(3, 100px); /* Définit 3 lignes de 100px chacune */
  gap: 5px; /* Espacement entre les cellules */
  grid-template-areas:
    "cell-1 cell-2 cell-3"
    "cell-4 cell-5 cell-6"
    "cell-7 cell-8 cell-0";
}

#content4x4 {
  display: grid;
  grid-template-columns: repeat(4, 100px); /* Définit 3 colonnes de 100px chacune */
  grid-template-rows: repeat(4, 100px); /* Définit 3 lignes de 100px chacune */
  gap: 5px; /* Espacement entre les cellules */
  grid-template-areas:
    "cell-1 cell-2 cell-3 cell-4"
    "cell-5 cell-6 cell-7 cell 8"
    "cell-9 cell-10 cell-11 cell-12"
    "cell-13 cell-14 cell-15 cell-0";
}

#content5x5 {
  display: grid;
  grid-template-columns: repeat(5, 100px); /* Définit 5 colonnes de 100px chacune */
  grid-template-rows: repeat(5, 100px); /* Définit 5 lignes de 100px chacune */
  gap: 5px; /* Espacement entre les cellules */
  grid-template-areas:
    "cell-1 cell-2 cell-3 cell-4 cell-5"
    "cell-6 cell-7 cell-8 cell-9 cell-10"
    "cell-11 cell-12 cell-13 cell-14 cell-15"
    "cell-16 cell-17 cell-18 cell-19 cell-20"
    "cell-21 cell-22 cell-23 cell-24 cell-0";
}

#content6x6 {
  display: grid;
  grid-template-columns: repeat(6, 100px); /* Définit 6 colonnes de 100px chacune */
  grid-template-rows: repeat(6, 100px); /* Définit 6 lignes de 100px chacune */
  gap: 5px; /* Espacement entre les cellules */
  grid-template-areas:
    "cell-1 cell-2 cell-3 cell-4 cell-5 cell-6"
    "cell-7 cell-8 cell-9 cell-10 cell-11 cell-12"
    "cell-13 cell-14 cell-15 cell-16 cell-17 cell-18"
    "cell-19 cell-20 cell-21 cell-22 cell-23 cell-24"
    "cell-25 cell-26 cell-27 cell-28 cell-29 cell-30"
    "cell-31 cell-32 cell-33 cell-34 cell-35 cell-0";
}

.cell {
  display: flex;
  justify-content: center; /* Alignement horizontal */
  align-items: center; /* Alignement vertical */
  width: 100px; /* Définit la largeur de chaque cellule à 100px */
  height: 100px; /* Définit la hauteur de chaque cellule à 100px */
  border-radius: 10px;
  border: 3px solid black;
  font-size: 4em; /* Taille de la police proportionnelle à la taille de la case */
}

/* Styles pour les cellules de 0 à 35 */
#cell-0 {
  /* Style pour la case vide */
  border: inherit;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffb6c1; /* La couleur de fond approximative de votre capture d'écran */
  margin: 0;
  padding: 0;
}

.menu {
  text-align: center;
  background-color: #fff; /* Un fond blanc pour le menu */
  padding: 10px 0;
  margin-bottom: 10px;
}

.menu a {
  margin: 0 5px;
  padding: 5px 10px;
  display: inline-block;
  background-color: #f1f1f1; /* Un fond gris clair pour chaque option du menu */
  border: 1px solid #ccc; /* Une bordure subtile */
  border-radius: 5px;
  text-decoration: none;
  color: #333; /* Une couleur de texte foncée */
  font-weight: bold;
}

.sidebar {
  /*position: fixed;*/
  left: 0;
  top: 0;
  width: 200px; /* La largeur de votre barre latérale */
  height: 100%;
  background-color: #ffb6c1; /* La couleur de fond pour la barre latérale */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Une ombre pour donner de la profondeur */
  padding: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #f1f1f1; /* Fond gris clair pour les boutons */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #333; /* Couleur de texte foncée */
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #e7e7e7; /* Un changement de couleur au survol */
}

/* Ajout d'une couleur de fond et d'un style pour l'entête */
.header {
  background-color: #d76d77; /* couleur rose approximative de la barre latérale */
  color: white;
  padding: 20px;
  font-size: 24px;
}
